.search{
  width: 452px;
  height: 36px;
  padding-left: 53px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  align-items: center;
  background: #c4c4c425;
  //background-color: #C4C4C4;
  border-radius: 8px;
  color: white;
  border: none;
}